.noDisplay {
  display: none;
}

/* Dark Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(19deg, #434343 0%, #000000 100%);
  clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0 100%);
}

.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15vh 6vw;
  z-index: 5;
}

.title {
  font-family: "Georgia";
  font-size: 46px;
  padding: 20px;
  margin: 15px 50px;
  color: white;
  text-align: center;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.image {
  height: auto;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.3s;
}

.text {
  font-family: var(--main-text-font);
  font-size: 16px;
  line-height: 30px;
  padding: 20px;
  margin: 15px 200px;
  color: white;
  text-align: center;
}

.button {
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  padding: 20px;
  transition: all 0.3s;
  border: 1px solid #26a8ed;
  font-family: var(--main-header-font);
  font-size: 12px;
  color: white;
  position: relative;
  border-radius: 5px;
  width: auto;
}

.button:hover {
  background-color: #26a8ed;
  color: var(--primary-text-color);
  border: 1px solid transparent;
}

/* Light Styles */
.containerLight {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.mainBoxLight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20vh 6vw;
  z-index: 5;
}

.titleLight {
  font-family: "Georgia";
  font-size: 46px;
  padding: 20px;
  margin: 15px 50px;
  color: var(--primary-text-color);
  text-align: center;
}

.textLight {
  font-family: var(--main-text-font);
  font-size: 16px;
  line-height: 30px;
  padding: 20px;
  margin: 15px 200px;
  color: var(--primary-text-color);
  text-align: center;
}

.buttonLight {
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
  padding: 20px;
  transition: all 0.3s;
  border: 1px solid #26a8ed;
  font-family: var(--main-header-font);
  font-size: 12px;
  color: var(--primary-text-color);
  position: relative;
  border-radius: 5px;
}

.buttonLight:hover {
  background-color: black;
  color: #26a8ed;
  border: 1px solid transparent;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 2.2rem;
  }
  .text {
    margin: 15px 100px;
  }
  .titleLight {
    font-size: 2.2rem;
  }
  .textLight {
    margin: 15px 100px;
  }
}

@media only screen and (max-width: 800px) {
  .mainBox {
    padding: 10vh 6vw;
  }
  .title {
    font-size: 1.8rem;
    padding: 10px;
    margin: 15px 15px;
  }
  .text {
    margin: 15px 25px;
    font-size: 1rem;
    padding: 10px 0px;
  }
  .mainBoxLight {
    padding: 10vh 6vw;
  }
  .titleLight {
    font-size: 1.8rem;
    padding: 10px;
    margin: 15px 15px;
  }
  .textLight {
    margin: 15px 25px;
    font-size: 1rem;
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 430px) {
  .mainBox {
    padding: 10vh 6vw;
  }
  .title {
    font-size: 1.4rem;
    padding: 10px;
    margin: 15px 15px;
    margin-bottom: 10px;
  }
  .text {
    margin: 5px 5px;
    line-height: 25px;
    font-size: 0.8rem;
    padding: 10px 0px;
  }
  .button {
    font-size: 10px;
    margin-top: 15px;
  }
  .mainBoxLight {
    padding: 10vh 6vw;
  }
  .titleLight {
    font-size: 1.4rem;
    padding: 10px;
    margin: 15px 15px;
    margin-bottom: 10px;
  }
  .textLight {
    margin: 5px 5px;
    line-height: 25px;
    font-size: 0.8rem;
    padding: 10px 0px;
  }
  .buttonLight {
    font-size: 10px;
    margin-top: 15px;
  }
}
