.noDisplay {
  display: none;
}

/* DARK STUFF */
.containerDark {
  width: 100%;
  padding: 15vh 6vw;
  background: linear-gradient(19deg, #434343 0%, #000000 100%);
  clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.darkMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 50px;
}

.darkImageContainerRight {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: -45px 45px 0px 0px #26a8ed;
}

.darkImageContainerLeft {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 45px 45px 0px 0px #26a8ed;
}

.darkImageLeft {
  height: auto;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.3s;
}

.darkImageRight {
  height: auto;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.3s;
}

.darkBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.darkTitle {
  font-family: Georgia;
  font-size: 46px;
  color: var(--secondary-text-color);
  margin: 0px 0px 20px 0px;
}

.darkBody {
  font-family: var(--main-text-font);
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-text-color);
  margin-left: 0px;
}

.darkButton {
  align-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
  padding: 20px;
  transition: all 0.3s;
  border: 1px solid #26a8ed;
  font-family: var(--main-header-font);
  font-size: 12px;
  color: white;
  position: relative;
  border-radius: 5px;
}

.darkButton:hover {
  background-color: #26a8ed;
  color: var(--primary-text-color);
  border: 1px solid transparent;
}

@media only screen and (max-width: 1200px) {
  .darkMain {
    gap: 50px;
  }
  .darkTitle {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .darkBody {
    margin: 5px 5px;
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 800px) {
  .containerDark {
    padding: 15vh 6vw;
  }
  .darkImageContainerRight {
    max-height: 400px;
    box-shadow: none;
  }
  .darkImageContainerLeft {
    max-height: 400px;
    box-shadow: none;
  }
  .darkTitle {
    font-size: 1.8rem;
  }
  .darkButton {
    align-self: center;
  }
  .darkImageContainer {
    grid-row-start: 1;
  }
  .darkMain {
    display: grid;
    height: auto;
    grid-template-rows: auto 0.5fr;
    grid-template-columns: none;
    justify-content: center;
    align-items: center;
  }
  .darkBodyContainer {
    margin-top: 30px;
    grid-row-start: 2;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 30px;
  }
  .darkBody {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 430px) {
  .containerDark {
    padding: 10vh 6vw;
  }
  .darkMain {
    margin: 0px 25px;
  }
  .darkTitle {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .darkBody {
    margin: 5px 5px;
    line-height: 25px;
    font-size: 0.8rem;
    padding: 10px 0px;
  }
  .darkButton {
    align-self: center;
    font-size: 10px;
    margin-top: 15px;
  }
}

/* LIGHT STUFF */
.containerLight {
  width: 100%;
  padding: 15vh 6vw;
  background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.lightMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 50px;
}

.lightImageContainerRight {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: -45px 45px 0px 0px #26a8ed;
}

.lightImageContainerLeft {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-shadow: 45px 45px 0px 0px #26a8ed;
}

.lightImageRight {
  height: auto;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.3s;
}

.lightImageLeft {
  height: auto;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.3s;
}

.lightBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lightTitle {
  font-family: Georgia;
  font-size: 46px;
  color: var(--primary-text-color);
  margin: 0px 0px 20px 0px;
}

.lightBody {
  font-family: var(--main-text-font);
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-text-color);
  margin-left: 0px;
}

.lightButton {
  align-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
  padding: 20px;
  transition: all 0.3s;
  border: 1px solid #26a8ed;
  font-family: var(--main-header-font);
  font-size: 12px;
  color: var(--primary-text-color);
  position: relative;
  border-radius: 5px;
}

.lightButton:hover {
  background-color: black;
  color: #26a8ed;
  border: 1px solid transparent;
}

@media only screen and (max-width: 1200px) {
  .lightMain {
    gap: 50px;
  }
  .lightTitle {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .lightBody {
    margin: 5px 5px;
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 800px) {
  .containerLight {
    padding: 15vh 6vw;
  }
  .lightImageContainerRight {
    max-height: 400px;
    box-shadow: none;
    grid-row-start: 1;
  }
  .lightImageContainerLeft {
    max-height: 400px;
    box-shadow: none;
    grid-row-start: 1;
  }
  .lightTitle {
    font-size: 1.8rem;
  }
  .lightButton {
    align-self: center;
  }
  .lightMain {
    display: grid;
    height: auto;
    grid-template-rows: auto 0.5fr;
    grid-template-columns: none;
    justify-content: center;
    align-items: center;
  }
  .lightBodyContainer {
    grid-row-start: 2;
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .lightBody {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 430px) {
  .containerLight {
    padding: 10vh 6vw;
  }
  .lightMain {
    margin: 0px 25px;
  }
  .lightTitle {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .lightBody {
    margin: 5px 5px;
    line-height: 25px;
    font-size: 0.8rem;
    padding: 10px 0px;
  }
  .lightButton {
    align-self: center;
    font-size: 10px;
    margin-top: 15px;
  }
}
