@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");

:root {
  --main-text-font: "Montserrat";
  --main-text-colour: black;
  --main-header-font: "Montserrat";
  --main-heading-size: 3.5rem;
  --primary-text-color: black;
  --secondary-color: #282828;
  --secondary-text-color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
}

/*Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>*/
