/* Main Container */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Typewriter {
  text-align: center;
}

/* First container */
.containerOne {
  display: flex;
  flex-direction: row;
  margin: 0px 100px 0px 100px;
  height: 100vh;
}

.oneTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 50px;
  height: 400px;
  align-self: center;
}

.oneTitle {
  font-family: var(--main-text-font);
  font-size: 70px;
  margin: 10px 0px 20px 0px;
  color: var(--main-text-colour);
}

.oneBody {
  font-family: var(--main-text-font);
  font-size: 24px;
  color: var(--main-text-colour);
  line-height: 30px;
}

.oneImage {
  display: block;
  height: 400px;
  width: auto;
  align-self: center;
  margin-right: 200px;
}

/* Second container */
.containerTwo {
  height: 200px; /*Get rid*/
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  background-image: rgba(0, 0, 0, 1);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  border-top: 0;
  padding-bottom: 10%;
}

/* Mobile */
@media only screen and (max-width: 1350px) {
  .containerOne {
    margin: 0px 50px 150px 50px;
  }
}
