.container {
  background-color: rgb(38, 185, 136);
  background-image: linear-gradient(
    135deg,
    rgb(38, 185, 136),
    rgb(38, 185, 136)
  );

  height: 100%;
  border-top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
  width: 100%;

  display: flex;
  text-align: center;
  flex-direction: column;
}

.title {
  font-family: "Alata";
  color: white;
  font-size: 3rem;
}

.detailsContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.detailsContainer img {
  max-width: 100%;

  height: auto;
}

.imageContainer {
  margin: 10px;
  max-width: 600px;
}

.textContainer {
  margin: 10px;
  max-width: 800px;
  min-width: 100px;
  color: white;
  font-family: "Alata";
  font-size: 1.6rem;
}

@media only screen and (max-width: 840px) {
  .textContainer {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 1170px) {
  .detailsContainer {
    flex-direction: column;
    align-items: center;
  }
  .container {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
