.postTile {
  display: block;
  min-width: 300px;
}

.postImageContainer {
  position: relative;
  overflow: hidden;
}

.image {
  height: 600px;
  filter: brightness(80%);
  transition: all 0.3s;
}

.postBodyContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.3s;
  width: 75%;
}

.postImageContainer:hover .postBodyContainer {
  opacity: 1;
}

.postImageContainer:hover .image {
  transform: scale(1.1);
  filter: brightness(40%);
}

.postTitle {
  font-family: "Georgia";
  font-size: 45px;
  color: white;
  text-shadow: 2px 2px 15px black;
}

.postDate {
  font-family: var(--main-text-font);
  font-size: 16px;
  color: white;
  margin-top: 10px;
  text-shadow: 2px 2px 15px black;
}

@media only screen and (max-width: 1100px) {
  .postImageContainer .postBodyContainer {
    opacity: 1;
  }

  .postImageContainer .image {
    filter: brightness(70%);
  }
  .postBodyContainer {
    left: 50%;
    bottom: 0%;
  }
  .postTitle {
    text-align: center;
  }
  .postDate {
    text-align: center;
  }
  .postExcerpt {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .postImageContainer {
    height: 300px;
  }

  .postTitle {
    font-size: 1.8rem;
  }

  .postDate {
    font-size: 1.2rem;
  }

  .image {
    height: 300px;
  }
}
