.postTile {
  display: block;
}

.postImageContainer {
  position: relative;
}

.image {
  height: 600px;
  opacity: 1;
  transition: all 0.3s;
}

.postBodyContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
  width: 75%;
}

.postImageContainer:hover .postBodyContainer {
  opacity: 1;
}

.postImageContainer:hover .image {
  opacity: 0.3;
}

.postTitle {
  font-family: "Georgia";
  font-size: 45px;
  color: white;
}

.postDate {
  font-family: var(--main-text-font);
  font-size: 20px;
  color: white;
  margin-top: 15px;
}

.postExcerpt {
  color: white;
  font-size: 14px;
  margin-top: 20px;
  line-height: 20px;
  font-family: var(--main-text-font);
}

@media only screen and (max-width: 800px) {
  .postImageContainer .postBodyContainer {
    opacity: 1;
  }

  .postImageContainer .image {
    opacity: 0.5;
  }
  .postBodyContainer {
    top: 50%;
  }
  .postTitle {
    text-align: center;
  }
  .postDate {
    text-align: center;
  }
  .postExcerpt {
    text-align: center;
  }
}
