.menu {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.menu .link {
  color: white;
}

.menuIcon {
  display: none;
  cursor: pointer;
  align-self: center;
}
.menuIcon:hover .menuIconLine {
  box-shadow: 2px 2px 25px white;
}

.menuIconLine {
  width: 35px;
  height: 5px;
  background-color: var(--main-text-colour);
  margin: 6px 0;
  border-radius: 20px;
  transition: all 0.3s;
}

.headerContainer {
  /*Main container for the header*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  width: 100%;
  transition: all 0.2s;
  z-index: 2;
}

.elementsContainer {
  /*Container to easily manipulate the width of elements*/
  width: 100%;
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.logo {
  width: 45px;
}

.logoName {
  font-family: "Major Mono Display";
  font-size: 40px;
  color: var(--main-text-colour);
  font-weight: bold;
  text-align: center;
}

.rightLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leftLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menuLinksContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link {
  margin-left: 30px;
  padding: 20px;
  transition: all 0.3s;
  text-decoration: none;
  border: 1px solid transparent;
  text-decoration: none;
  font-family: var(--main-header-font);
  font-size: 14px;
  color: var(--main-text-colour);
  font-weight: bold;
  position: relative;
  border-radius: 5px;
}

.link:hover {
  background-color: black;
  color: white;
}

.activeLink {
  border: 1px solid black;
}

.menuLinksContainer .link {
  font-size: 25px;
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .elementsContainer {
    width: 100%;
    margin: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
  }
  .rightLinksContainer {
    display: none;
  }

  .leftLinksContainer {
    justify-content: center;
  }

  .menuIcon {
    display: block;
  }

  .mainTitle {
    font-size: 30px;
  }
}
