.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  z-index: 2;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  animation-name: lightToDark;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes lightToDark {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.tiltContainer {
  height: 60%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  /* box-shadow: 0 1px 0px black inset, 0 0 1px 0px black; */
  z-index: 3;
}

.introContainer {
  height: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateZ(150px);
}

.logo {
  max-width: 100%;
  display: block;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  user-select: none;
}

.backgroundVideo {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  animation-name: slideIn;
  animation-duration: 1.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.moreButton {
  color: white;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  margin: 0px 20px;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
}

.moreButton:hover {
  color: #ffffff;
  text-shadow: 0px 0px 2px white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@media only screen and (max-width: 840px) {
  .introContainer {
    text-align: center;
  }
  .moreButton {
    font-size: 1.2rem;
  }
  .buttonContainer {
    justify-content: center;
    flex-direction: column;
  }
  .tiltContainer {
    width: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .backgroundVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .backgroundVideo {
    width: auto;
    height: 100%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
